<a href="https://colab.research.google.com/github/leonardolunamoreno/Computadoras-y-programaci-n2021-grupo-1157/blob/main/Introducci%C3%B3n_al_tratamiento_de_datos_con_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Sucesión de fibonacci 
a = 0
print("a")
b = 1 
print("b")

for _ in range (94):
    r = a + b 
    a = b
    b = r 
    print(r)

a
b
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905

In [ ]:
palabra = "datos"
for letra in palabra: 
    print(letra)
    if letra == "t": # Este condicional rompe el ciclo
        break
# Cada uno de los indices en esta lista se trata como un carácter

d
a
t

In [ ]:
# Ciclos anidados 

#Este programa se calcula las tablas 

for i in range(1,11):
    print(f"Tabla del {i}:")
    for j in range(1,11):
        r = i * j 
        print(f"{i} * {j} = {r}")
    print(" ")

Tabla del 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Tabla del 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Tabla del 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Tabla del 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Tabla del 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Tabla del 6:
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

Tabla del 7:
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

Tabla del 8:
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

Tabla del 9:
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

Tabla del 10:
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
# Este programa cuenta el numero de vocales en una frase 
VOCALES = 'aeiou'
frase = 'Supercalifragilisticoespialidoso'

no_vocales = 0 
for letra in frase: 
    if letra in VOCALES: 
        no_vocales += 1
print(no_vocales)

15

In [ ]:
from typing import no_type_check
frase = 'Supercalifragilisticoespialidoso'

no_vocales = 0 
for letra in frase: 
    if letra in VOCALES: 
        no_vocales += 1
print(no_vocales)

In [2]:
# Listas 
compra = ['Agua', 'Huevos', 'Aceite', 'Sal', 'Limón']
detalle = ['mineral natural', 'organicos', 'de oliva virgen', 'de mar', 'verde']

for producto in compra: 
    print(producto)

# Enumerdado 
for i, producto in enumerado(compra):
    print(i,prodcuto)

# zip 
for producto, detail in zip(compra, detalle):
    print(producto, detail)
    print(list(zip(compra,detalle)))

Agua
Huevos
Aceite
Sal
Limón

NameError: ignored

In [6]:
valores = "23,23,53,23,52,23,5,32"
lista_valores = []
for valor in valores.split(','):
    lista_valores.append(int(valor))
print(lista_valores)

[23, 23, 53, 23, 52, 23, 5, 32]

In [7]:
lista_enteros = [int(valor)for valor in valores.split(',')]
print(lista_enteros)

[23, 23, 53, 23, 52, 23, 5, 32]

In [11]:
lista = ['0','pan']
print(lista)
print(lista[0])

['0', 'pan']
0

In [12]:
lista.append('jugo')

In [13]:
lista

['0', 'pan', 'jugo']

In [15]:
lista.count(0)

0

In [17]:
# Se extiende la lista a nuevos valores
lista.extend([40,'cebolla',33]) #extend agrega nuevos elementos a una lista que ya estaba escrita previamente
lista

['0', 'pan', 'jugo', 40, 'cebolla', 33, 40, 'cebolla', 33]

In [18]:
lista.append([90,'tocino'])
lista

['0', 'pan', 'jugo', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino']]

In [19]:
lista.extend(range(13,14))
lista

['0', 'pan', 'jugo', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]

In [24]:
lista.index('a')

ValueError: ignored

In [26]:
lista.insert(3,'moztaza')
lista

['0',
 'pan',
 'jugo',
 'moztaza',
 'moztaza',
 40,
 'cebolla',
 33,
 40,
 'cebolla',
 33,
 [90, 'tocino'],
 13]

In [27]:
lista[0] = 'pan integral'
lista

['pan integral',
 'pan',
 'jugo',
 'moztaza',
 'moztaza',
 40,
 'cebolla',
 33,
 40,
 'cebolla',
 33,
 [90, 'tocino'],
 13]

In [28]:
lista[1] = 'pipa'
lista

['pan integral',
 'pipa',
 'jugo',
 'moztaza',
 'moztaza',
 40,
 'cebolla',
 33,
 40,
 'cebolla',
 33,
 [90, 'tocino'],
 13]

In [29]:
# Alias de una lista lista
lista[:] # Impirme todos los renglones y todos los elementos de alguna lista

['pan integral',
 'pipa',
 'jugo',
 'moztaza',
 'moztaza',
 40,
 'cebolla',
 33,
 40,
 'cebolla',
 33,
 [90, 'tocino'],
 13]

In [30]:
lista[4:12]

['moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino']]

In [31]:
lista[::-1] # Muestra todos los elementos de una lista en un orden inverso

[13,
 [90, 'tocino'],
 33,
 'cebolla',
 40,
 33,
 'cebolla',
 40,
 'moztaza',
 'moztaza',
 'jugo',
 'pipa',
 'pan integral']

In [32]:
# Aquí se creo un alias para la lista 1, llamado lista 2 

lista2 = lista 
print(lista) 
print(lista2)

['pan integral', 'pipa', 'jugo', 'moztaza', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]
['pan integral', 'pipa', 'jugo', 'moztaza', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]

In [33]:
lista[1] = "alambre "
print(lista) 
print(lista2)

# Acá cambie los datos y los datos se vieron afectados con tal cambio

['pan integral', 'alambre ', 'jugo', 'moztaza', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]
['pan integral', 'alambre ', 'jugo', 'moztaza', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]

In [35]:
lista[3] = "milanesa"
print(lista) 
print(lista2)

['pan integral', 'milanesa', 'jugo', 'milanesa', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]
['pan integral', 'milanesa', 'jugo', 'milanesa', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]

In [38]:
# crear una compia de la lista 
lista3 = lista[:] 
print(lista) 
print(lista3)

['pan integral', 'milanesa', 'jugo', 'milanesa', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]
['pan integral', 'milanesa', 'jugo', 'milanesa', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]

In [39]:
lista[5] = 'agua'
print(lista)
print(lista2)
print(lista3) # Aqui se crea una copia independiente de la lista 1, y la lista 3 no sufria cambios si se agregaran nuebos datos a la lista 
# 1 y la lista 2

['pan integral', 'milanesa', 'jugo', 'milanesa', 'moztaza', 'agua', 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]
['pan integral', 'milanesa', 'jugo', 'milanesa', 'moztaza', 'agua', 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]
['pan integral', 'milanesa', 'jugo', 'milanesa', 'moztaza', 40, 'cebolla', 33, 40, 'cebolla', 33, [90, 'tocino'], 13]

In [41]:
lista = lista + lista3  # suma de listas 
lista3

['pan integral',
 'milanesa',
 'jugo',
 'milanesa',
 'moztaza',
 40,
 'cebolla',
 33,
 40,
 'cebolla',
 33,
 [90, 'tocino'],
 13]

In [47]:
lista_cursos = ['Python', 'base de datos', 'Big Data', 'base de datos', 'Python']
lista_cursos

['Python', 'base de datos', 'Big Data', 'base de datos', 'Python']

In [43]:
set_cursos = set(lista_cursos)  
set_cursos  # Set crea una lista desordenada de valores unicos 
# a pesar de que python esta 2 veces en la lista cursos, aqui solamente se escribe python una vez

{'Big Data', 'base de datos', 'python'}

In [48]:
set_cursos2 = set(['Python', 'Pandas', 'Mineria', 'Base de datos'])
set_cursos2

{'Base de datos', 'Mineria', 'Pandas', 'Python'}

In [49]:
set_cursos.union(set_cursos2)  # operaciones de conjuntos

{'Base de datos',
 'Big Data',
 'Mineria',
 'Pandas',
 'Python',
 'base de datos',
 'python'}

In [50]:
set_cursos.intersection(set_cursos2) # Operacion de conjuntos

set()

In [52]:
set_cursos.difference(set_cursos2) # operacion de conjuntos

{'Big Data', 'base de datos', 'python'}