<a href="https://colab.research.google.com/github/leonardolunamoreno/Computadoras-y-programaci-n2021-grupo-1157/blob/main/PYTHONYOUTUBE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola de nuevo");print("Leonardo Luna")
# Permite unir dos comandos print en una misma línea 
# E imprime ambas líneas, una tras otra, en la consola

Hola de nuevo
Leonardo Luna

In [ ]:
# Declarar una variable
mi_nombre = "Mí nombre es él Leonardo Alexis Luna Moreno"
mi_nombre # Muestra los valores que asignamos a la variable 'mi_nombre'

'Mí nombre es él Leonardo Alexis Luna Moreno'

In [ ]:
# Escribir usando saltos de línea
mi_nombre = "Mí nombre es él \
Leonardo Alexis Luna Moreno" # Permite escribir la variable por separado
mi_nombre # Muestra los valores que asignamos a la variable 'mi_nombre'

'Mí nombre es él Leonardo Alexis Luna Moreno'

In [ ]:
a = 5  # Se declara la variable a, con el valor inicial 0
for i in range(8): # Se establece una condición: para i, en el rango de valor 5, que será el número de iteraciones del programa 
    a += 5 * 2# Sumar el valor de 1 a la variable a, en cada iteración
    print(a)
# Con esté código tan simple, se pueden modelar progresiones aritméticas

# Puedo utilizarla en métodos númericos, para calcular valores
# Puedo utilizarla para calcular series de potencias en métodos númericos

15
25
35
45
55
65
75
85

In [ ]:
a = 8760  # Se declara la variable a, con el valor inicial 8760
for i in range(365): 
    a -= 24 
    print(a)
# Antes de escribir estás líneas salí a caminar al patio, y hacia menos de un minuto que me había aprendido el método 
# Cuando volví al teclado escribí la solución de la sucesión aritmética del año en un momento

8736
8712
8688
8664
8640
8616
8592
8568
8544
8520
8496
8472
8448
8424
8400
8376
8352
8328
8304
8280
8256
8232
8208
8184
8160
8136
8112
8088
8064
8040
8016
7992
7968
7944
7920
7896
7872
7848
7824
7800
7776
7752
7728
7704
7680
7656
7632
7608
7584
7560
7536
7512
7488
7464
7440
7416
7392
7368
7344
7320
7296
7272
7248
7224
7200
7176
7152
7128
7104
7080
7056
7032
7008
6984
6960
6936
6912
6888
6864
6840
6816
6792
6768
6744
6720
6696
6672
6648
6624
6600
6576
6552
6528
6504
6480
6456
6432
6408
6384
6360
6336
6312
6288
6264
6240
6216
6192
6168
6144
6120
6096
6072
6048
6024
6000
5976
5952
5928
5904
5880
5856
5832
5808
5784
5760
5736
5712
5688
5664
5640
5616
5592
5568
5544
5520
5496
5472
5448
5424
5400
5376
5352
5328
5304
5280
5256
5232
5208
5184
5160
5136
5112
5088
5064
5040
5016
4992
4968
4944
4920
4896
4872
4848
4824
4800
4776
4752
4728
4704
4680
4656
4632
4608
4584
4560
4536
4512
4488
4464
4440
4416
4392
4368
4344
4320
4296
4272
4248
4224
4200
4176
4152
4128
4104
4080
4056
4032
4008
3984
3960
3936
3912
3888
3864
3840
3816
3792
3768
3744
3720
3696
3672
3648
3624
3600
3576
3552
3528
3504
3480
3456
3432
3408
3384
3360
3336
3312
3288
3264
3240
3216
3192
3168
3144
3120
3096
3072
3048
3024
3000
2976
2952
2928
2904
2880
2856
2832
2808
2784
2760
2736
2712
2688
2664
2640
2616
2592
2568
2544
2520
2496
2472
2448
2424
2400
2376
2352
2328
2304
2280
2256
2232
2208
2184
2160
2136
2112
2088
2064
2040
2016
1992
1968
1944
1920
1896
1872
1848
1824
1800
1776
1752
1728
1704
1680
1656
1632
1608
1584
1560
1536
1512
1488
1464
1440
1416
1392
1368
1344
1320
1296
1272
1248
1224
1200
1176
1152
1128
1104
1080
1056
1032
1008
984
960
936
912
888
864
840
816
792
768
744
720
696
672
648
624
600
576
552
528
504
480
456
432
408
384
360
336
312
288
264
240
216
192
168
144
120
96
72
48
24
0

In [ ]:
# Espacio de la memoria del ordenador 
# donde se almacenará un valor que podrá cambiar durante 
# la ejecución del programa 

5+6 # Sumar números

11

In [ ]:
10 % 3 # Operación modulo, resto de una división

1

In [ ]:
10**3 # Exponente de un número, aquí tenemos a 10 elevado al cubo

1000

In [ ]:
9/2 # División con punto flotante

4.5

In [ ]:
9//2 # División cerrada

4

In [ ]:
# En python el tipo de variable lo establece el contenido 
# de la variable

# Contenedor de un objeto = Objeto dentro del contenedor 
nombre = 5 
type(nombre)

int

In [ ]:
nombre = "Leonardo"
type(nombre)

str

In [ ]:
nombre = 422.0
type(nombre)

float

In [ ]:
mensaje = """ Buenos días damas y caballeros 
somos el entretenimiento """ 
print(mensaje) # Permite imprimir el mensaje de esta forma

 Buenos días damas y caballeros
somos el entretenimiento

In [ ]:
# Está es la estructura mostrada en el video
numero1 = 5 
numero2 = 7 
if numero1>numero2: 
    print("El número 1 es mayor")
else: 
    print("El número 2 es mayor")

El número 2 es mayor

In [ ]:
# Estructura condicional
# Código escrito por mí 
numero1 = 1
numero2 = 1
if numero1==numero2: 
    print("Ambos números son iguales")
else: 
    if numero1<numero2:
        print("El número 2 es mayor")
    else:
        print("El número 1 es mayor")

Ambos números son iguales

In [ ]:
# Funciones en Python 
# Conjunto de líneas de código agrupadas (bloque de código)
# que funciona como una unidad realizando una tarea específica

# Las funciones en Python pueden devolver valores 

# Las funciones en Python pueden tener parámetros/argumentos 

# A las funciones también se les denomina " métodos " cuando se 
# encuentran definidas dentro de una clase 

# La utilidad de las funciones es el hecho de que se puede 
# reutilizar el código ( cuando sea o siempre que sea necesario)


# Sintaxis de una función en python 

# def nombre_función():
#     * Instrucciones de la función
#     * return (opcional)   

# def nombre_función(parámetros)
#     * Instrucciones de la función
#     * return (opcional)

In [ ]:
# print() Es una función predefinida por python

# También es posible crear nuestras propias funciones, este comentario 
# corresponde a la serie 5/79 
# En este momento escucho el minuto 9 ; 17

In [ ]:
# Está es una función
def mensaje():             # Declaración de la función

    print("Algo ")         #
    print("Algo más")      # Cuerpo de la función 
    print("Algo, más Algo más, más Algo más además de Algo más :V ") #

# Está función si bien puede ejecutarse no produce nada :V 
# A menos que llamemos o invoquemos a la función mensaje 
   
mensaje()                  # Llamado de la función # 1 
mensaje()                  # Llamado de la función # 2 

print("Ejecutando código fuera de la función")

mensaje()                  # Lllamado de la función # 3 

# Entonces se puede invocar a la función mensaje tantas veces como se quiera 
# Solo basta invocar la función para mostrar todo el cuerpo

Algo
Algo más
Algo, más Algo más, más Algo más además de Algo más :V
Algo
Algo más
Algo, más Algo más, más Algo más además de Algo más :V
Ejecutando código fuera de la función
Algo
Algo más
Algo, más Algo más, más Algo más además de Algo más :V

In [ ]:
# El video 6 /79 dura 16:34 minutos

# Parametro o Argumento 

def suma(): # Aquí hemos definido 2 parámetros, num1 y num2 
    num1 = 5 
    num2 = 7 
    print(num1 + num2) 

suma()
# Como hacer que la función suma, sume diferentes valores en cada 
# invocación de la función suma

12

In [ ]:
# Parametro o Argumento 

def suma(num1,num2): # Aquí hemos definido 2 parámetros, num1 y num2 
#    num1 = 5          Al momento de definir los parámetros en la 
#    num2 = 7          función, ya no son necesarias estás 2 líneas
    print(num1 + num2) 
suma(3,4) # Ahora al invocar la función, debo agregar los datos
suma(59,76)
suma(2000,476)
suma(67,-17) # Porque sumar el negativo de un número es el equivalente a 
# restarlo 
# En estos casos, los valores, 3, 59, 2000, 67 se almacenan en el 
# parámetro num1  
suma(2.3,4.7) 
suma("hola"," Leo") # Al parecer también se pueden sumar strings
suma("LEONARDO"," 422")

7
135
2476
50
7.0
hola Leo
LEONARDO 422

In [ ]:
def suma(num1,num2):
    resultado = num1 + num2
    return resultado 
print(suma(67,89))

156

In [ ]:
def suma(num1,num2):
    resultado = num1 + num2
    return resultado 
almacena_resultado = suma(5,8)
print(almacena_resultado)

13

In [ ]:
# Video 7 / 79  Listas y demás relacionado 24 minutos 
milista = ["1","2","3","4"]
print(milista[:]) # De este modo se imprime la lista completa 
# Corchetes, comillas y comas incluidos

['1', '2', '3', '4']

In [ ]:
milista = ["1","2","3","4"]
print(milista[3]) # De esta manera se accede al elemento '4' de la lista

4

In [ ]:
milista = ["1","2","3","4"]
print(milista[0:3]) # De esta manera se accede a los 3 primeros elementos
# de la lista que escribí aquí

['1', '2', '3']

In [ ]:
milista = ["1","2","3","4"]
print(milista[:3]) # Al parecer también funciona si se deja el 
# lado izquierdo de los corchetes vacío

['1', '2', '3']

In [ ]:
milista = ["1","2","3","4"]
print(milista[1:2])

['2']

In [ ]:
milista = ["1","2","3","4"]
print(milista[2:])

['3', '4']

In [ ]:
milista = ["1","2","3","4"]
milista.append("141") # Se agrega un elemento nuevo a la lista
                      # Y lo agrega al final de la lista 
print(milista[:])     # Con los corchetes con los puntos se agrega el elemento
# 141

['1', '2', '3', '4', '141']

In [ ]:
milista = ["1","2","3","4"]
milista.insert(0,"141") # Se agrega un elemento nuevo a la lista
# Con este metodo puedo agregar 141, en cualquier parte de la lista
print(milista[:])

['141', '1', '2', '3', '4']

In [ ]:
# Para agregar varios elementos nuevos a la lista se utiliza el siguiente método
milista = ["1","2","3","4"]
milista.extend(["422","141","73","1"]) 
# Con este metodo se agregan 4 elementos, al final de la lista 
print(milista[:])

['1', '2', '3', '4', '422', '141', '73', '1']

In [ ]:
# Con el metodo index, puedo conocer el número de elemento que ocupa un
# un valor dentro de la lista, por ejemplo, el valor 422 ocupa el valor
# dentro de la lista 
milista = ["1","2","3","4"]
milista.extend(["422","141","73","1"]) 
# Con este metodo se agregan 4 elementos, al final de la lista 
print(milista.index("422"))

4

In [ ]:
# ¿Que hacer si se repite un elemento dentro de la lista 
# En esta caso el número 1 se repite 
# Al compilarlo, el primer el index reconocido es el del primer valor 
# Repetido dentro de la lista
milista = ["1","2","3","4"]
milista.extend(["422","141","73","1"]) 
# Con este metodo se agregan 4 elementos, al final de la lista 
print("141" in milista)

True

In [ ]:
# Con el metodo index, puedo conocer el número de elemento que ocupa un
# un valor dentro de la lista, por ejemplo, el valor 422 ocupa el valor
# dentro de la lista 
milista = ["1","2","3","4"]
milista.extend(["422","141","73","1"]) 
# Con este metodo se agregan 4 elementos, al final de la lista 
print("2000" in milista)

False

In [ ]:
milista = ["1","LEONARDO",3.12,True]
milista.extend(["422","141","73"]) 
# Con este metodo se agregan 4 elementos, al final de la lista 
print(milista[:])

['1', 'LEONARDO', 3.12, True, '422', '141', '73']

In [ ]:
milista = ["1","LEONARDO",3.12,True]
milista.extend(["422","141","73",1]) 
# Con este metodo se agregan 4 elementos, al final de la lista 
print(milista[1])

LEONARDO

In [ ]:
# Eliminar elementos de la lista 
milista = ["1","LEONARDO",3.12,True]
milista.extend(["422","141","73",1]) 
milista.remove("73")
milista.remove(3.12)
# Despues de usar .remove, elimine el elemento " 73 "
# Al parecer con este metodo solo se puede eliminar un elemento a la vez
print(milista[:])  # Cambiar aquí el valor antes y después de los : 
# no eliminaria los datos omitidos en el rango, sino que solo mostraría
# aquellos elementos definidos por nosotros

['1', 'LEONARDO', True, '422', '141', 1]

In [ ]:
# Eliminar elementos de la lista 
milista = ["1","LEONARDO",3.12,True]
milista.extend(["422","141","73",1]) 
milista.pop() # Segun parece elimina el ultimo elemento de la lista
print(milista[:])  # Cambiar aquí el valor antes y después de los : 
# no eliminaria los datos omitidos en el rango, sino que solo mostraría
# aquellos elementos definidos por nosotros 

# No se si esto será válido para el programa de agregación y eliminación 
# de datos, pero sin duda haría el código más funcional

['1', 'LEONARDO', 3.12, True, '422', '141', '73']

In [ ]:
# Sumar listas
milista = ["1","LEONARDO",3.12,True]
milista.extend(["422","141","73",1]) 

milista2 = ["LUNA", "2022", True]
milista3 = milista + milista2 # El operador suma, suma ambas listas
# En una nueva lsita 3, que es la suma de la lista1 y la lista 2 
print(milista3[:])

['1', 'LEONARDO', 3.12, True, '422', '141', '73', 1, 'LUNA', '2022', True]

In [ ]:
# Multiplicar listas
milista = ["1","LEONARDO",3.12,True] * 4  
milista.extend(["422","141","73",1])
# Al parecer es posible multiplicar la lista un monton de veces posibles
# En este caso 3, el problema es que solamente se multiplica la parte 
# De arriba, más no la parte de abajo de la lista, la parte extendida de la lista
print(milista[:])

['1', 'LEONARDO', 3.12, True, '1', 'LEONARDO', 3.12, True, '1', 'LEONARDO', 3.12, True, '1', 'LEONARDO', 3.12, True, '422', '141', '73', 1]

In [ ]:
# Las tuplas 

# Las tuplas no se pueden modificar después de su creción (añadir,
# mover, elementos, etc)

# Sí se pueden extraer porciones de una tupla determinada, pero el 
# resultado es una nueva tupla,

# No se permiten las busquedas dentro de las tuplas  

# Es posible comprobar si un elemento está dentro de la tupla

# Ventajas de las tuplas respecto de las listas

# Son más rápidas  

# Ocupan menos espacio en memoria ( Mayor optimización ) 

# Formatean strings 

# Pueden utilizarze como claves en un diccionario, las listas no 
# tienen está capacidad

In [ ]:
# Sintaxis de las tuplas 

# nombreLista = (elem1, elem2, elem3, ... elem(n+1))  y al parecer 
# los parentesis son opcionales
mitupla = ("Buenas noches","Ecuaciones Diferenciales Ordinarias","10")
print(mitupla)

('Buenas noches', 'Ecuaciones Diferenciales Ordinarias', '10')

In [ ]:
mitupla = ("Buenas noches","Ecuaciones Diferenciales Ordinarias","10")
print(mitupla[1])

Ecuaciones Diferenciales Ordinarias

In [ ]:
# Convertir una tupla en una lista 

mitupla = ("Buenas noches","Ecuaciones Diferenciales Ordinarias","Métodos,númericos","Estructura de Datos","10")
milista = list(mitupla) # Con está instrucción se convierte la tupla en lista
print(milista)
# Diferencia entre la forma en que se muestra milista y mitupla en consola
print("-----------------------------------------")
print(mitupla)

['Buenas noches', 'Ecuaciones Diferenciales Ordinarias', 'Métodos,númericos', 'Estructura de Datos', '10']
-----------------------------------------
('Buenas noches', 'Ecuaciones Diferenciales Ordinarias', 'Métodos,númericos', 'Estructura de Datos', '10')

In [ ]:
# Convertir una lista en una tupla 

milista = ["Buenas noches","Ecuaciones Diferenciales Ordinarias","Métodos,númericos","Estructura de Datos","10"]
mitupla = tuple(milista) # Con está instrucción se convierte la tupla en lista
print(mitupla)
# Diferencia entre la forma en que se muestra milista y mitupla en consola
print("-----------------------------------------")
print(milista)

('Buenas noches', 'Ecuaciones Diferenciales Ordinarias', 'Métodos,númericos', 'Estructura de Datos', '10')
-----------------------------------------
['Buenas noches', 'Ecuaciones Diferenciales Ordinarias', 'Métodos,númericos', 'Estructura de Datos', '10']

In [ ]:
# Encontrar un elemento dentro de la tupla
milista = ["Buenas noches","Ecuaciones Diferenciales Ordinarias","Métodos,númericos","Estructura de Datos","10"]
mitupla = tuple(milista) # Con está instrucción se convierte la tupla en lista
print("2" in mitupla)
print("10" in mitupla)

False
True

In [ ]:
# Cuantas veces se repite algun elemento dentro de la tupla
milista = [21,2,3,4,5,3,1,54,2,2,2,5,2,78]
mitupla = tuple(milista) #
print(mitupla.count(2))
# Este método podría ser útil para la interfaz de estructura de datos

5

In [ ]:
# Longitud de una tupla
# Cuantas veces se repite algun elemento dentro de la tupla
milista = [21,2,3,4,5,3,1,54,2,2,2,5,2,78] # Son 14 elementos tal como marca la tupla
mitupla = tuple(milista) #
print(len(mitupla))
# Este método podría ser útil para la interfaz de estructura de datos

14

In [ ]:
# Tuplas unitarias (tuplas con un solo elemento)
mitupla = ("LEONARDO LUNA",) # Al colocar los parenteis he empaquetado la tupla
print(len(mitupla))
# Este método podría ser útil para la interfaz de estructura de datos
# Si no se coloca la coma despues del elemento de la tupla 
# El interprete devuelve el valor 13, que son los elementos reales de 
# la tupla, con este metodo por asi decirlo es posible introducir
# más datos de los realmente mostrados en consola

1

In [ ]:
# Un caso para almacenar datos
mitupla = ("Nombre ",00,00,0000)
nombre, dia, mes, año  = mitupla
print(nombre) # Python asigna nombre, dia, mes y año a cada elemento 
print(dia)    # Correspondiente en la tupla, como nombre es a nombre 
print(mes)    # dia a 00, mes a 00 y año a 0000 
print(año)    # Se imprime el valor de los atributos dados al inicio
# Así podría almacenar datos inmutables que solo se muestren en consla 

# Esto que acabamos de hacer se llama desempaquetado de tupla
# Todo lo visto de acuerdo a las tuplas fue visto en el video 8

Nombre
0
0
0

In [ ]:
# Diccionarios, Este es el video 9 de 79 de la lista
# Estructura de datos que permite almacenar valores de diferente tipo
# (enteros, cadenas de texto, decimales) e incluso listas y otros 
# diccionarios

# La principal característia de los diccionarios es que los datos se 
# almacenan asociads a una clave de tal forma que se crea una
# asociación de tipo clave : valor para cada elemento almacenado 

# Los elementos almacenados no están ordenados. El orden es indiferente
# a la hora de almacenar información en un diccionario

In [ ]:
# Diccionarios
# Este diccionario almacenará el conjunto, país : capital del país
midiccionario = {"Alemania":"Berlín", "Francia":"París","Reino Unido":"Londres"} 
# Acceder a un elemento del diccionario
print(midiccionario["Francia"])
# En este ejemplo el elemento del diccionario que invocamos en la impresión
# la clave es " Francia ", y el valor devuelto es París, la capital
# En este contexto particular de diccionario

París

In [ ]:
# Imprimir el diccionario entero
midiccionario = {"Alemania":"Berlín", "Francia":"París","Reino Unido":"Londres"} 
print(midiccionario)

{'Alemania': 'Berlín', 'Francia': 'París', 'Reino Unido': 'Londres'}

In [ ]:
# Agregar un dato al diccionario
midiccionario = {"Alemania":"Berlín", "Francia":"París","Reino Unido":"Londres"} 
midiccionario["Italia"] = "Roma" # Aquí agregué el elemento Italia y 
print(midiccionario)   # su capital al diccionario
# En todo caso esto esta mal

{'Alemania': 'Berlín', 'Francia': 'París', 'Reino Unido': 'Londres', 'Italia': 'Roma'}

In [ ]:
# Agregar un dato al diccionario
midiccionario = {"Alemania":"Berlín", "Francia":"París","Reino Unido":"Londres"} 
midiccionario["Italia"] = "Lisboa" # Aquí agregué el elemento Italia y 
print(midiccionario)   # su capital al diccionario
midiccionario["Italia"] = "Roma"
print(midiccionario)
# No pueden existir dos claves iguales en un diccionario, por ello es 
# que en el segundo print se imprime el valor Italia = Roma
# Que es la verdadera capital del país

{'Alemania': 'Berlín', 'Francia': 'París', 'Reino Unido': 'Londres', 'Italia': 'Lisboa'}
{'Alemania': 'Berlín', 'Francia': 'París', 'Reino Unido': 'Londres', 'Italia': 'Roma'}

In [ ]:
# Eliminar un elemento del diccionario
midiccionario = {"Alemania":"Berlín","Francia":"París","Reino Unido":"Londres"} 
print(midiccionario)
del midiccionario["Francia"] # Al agregar está línea, no solo 
print(midiccionario)    # Elimine Francia, sino también París

{'Alemania': 'Berlín', 'Francia': 'París', 'Reino Unido': 'Londres'}
{'Alemania': 'Berlín', 'Reino Unido': 'Londres'}

In [ ]:
# Diccionario con diferentes valores lógicos
midiccionario = {"Alemania":"Berlín", 422.1:"Leonardo","Reino Unido":"Londres","Leonardo Luna":1} 
print(midiccionario)

{'Alemania': 'Berlín', 422.1: 'Leonardo', 'Reino Unido': 'Londres', 'Leonardo Luna': 1}
{'Alemania': 'Berlín', 422.1: 'Leonardo', 'Reino Unido': 'Londres', 'Leonardo Luna': 1}

In [ ]:
# Convertir una tupla en un diccionario, y utilizar sus valores
mitupla = ["Italia","Fracia","Reino Unido","Alemania"]
midiccionario = {mitupla[0]:"Roma",mitupla[1]:"París",mitupla[2]:"Londres",mitupla[3]:"Berlín"}
print(midiccionario)

{'Italia': 'Roma', 'Fracia': 'París', 'Reino Unido': 'Londres', 'Alemania': 'Berlín'}

In [ ]:
# Acceder a un elemento en concreto del diccionario
mitupla = ["Italia","Francia","Reino Unido","Alemania"]
midiccionario = {mitupla[0]:"Roma",mitupla[1]:"París",mitupla[2]:"Londres",mitupla[3]:"Berlín"}
print(midiccionario["Francia"]) # Aquí se accede a París a través de 
# Francia
print(midiccionario[mitupla[0]]) # Aquí accedí a Roma a través del 
# valor númerico de la tupla

París
Roma

In [ ]:
# Un diccionario almacenando una tupla de valores
midiccionario = {10:"LEONARDO", "NOMBRE":"LEONARDO", "EQUIPO":"METALINK", "LOGROS":[2020,2021,2022]}
print(midiccionario) # En la parte "LOGROS" del diccionario, la clave es logros, y tiene asignado 
# Una serie de valores que corresponde a un intervalo de años que a su vez 
# fueron almacenados dentro de una tupla, en este caso 2020, 2021, 2022

{10: 'LEONARDO', 'NOMBRE': 'LEONARDO', 'EQUIPO': 'METALINK', 'LOGROS': [2020, 2021, 2022]}

In [ ]:
# Acceder al equipo en el cual estoy 
# Un diccionario almacenando una tupla de valores
midiccionario = {10:"LEONARDO", "NOMBRE":"LEONARDO", "EQUIPO":"METALINK", "LOGROS":[2020,2021,2022]}
print(midiccionario["EQUIPO"])
print(midiccionario["LOGROS"])

METALINK
[2020, 2021, 2022]

In [ ]:
# Se puede guardar un diccionario dentro de otro diccionario
midiccionario1 = {10:"LEONARDO", "NOMBRE":"LEONARDO", "EQUIPO":"METALINK", "LOGROS":{2020,2021,2022}}
midiccionario = {10:"LEONARDO", "NOMBRE":"LEONARDO", "EQUIPO":"METALINK", "LOGROS":[2020,2021,2022]}
print(midiccionario1["LOGROS"])
print(midiccionario["LOGROS"])

{2020, 2021, 2022}
[2020, 2021, 2022]

In [ ]:
# Se puede guardar un diccionario dentro de otro diccionario
midiccionario = {10:"LEONARDO", "NOMBRE":"LEONARDO", "EQUIPO":"METALINK", "LOGROS":{"AÑOS":[2020,2021,2022]}}
print(midiccionario["LOGROS"]) # Acá se imprimen los LOGROS como un 
# diccionario, incluye los años
print(midiccionario)

{'AÑOS': [2020, 2021, 2022]}
{10: 'LEONARDO', 'NOMBRE': 'LEONARDO', 'EQUIPO': 'METALINK', 'LOGROS': {'AÑOS': [2020, 2021, 2022]}}

In [ ]:
# Algunos otros metodos con los diccionarios
midiccionario = {10:"LEONARDO", "NOMBRE":"LEONARDO", "EQUIPO":"METALINK", "LOGROS":{"AÑOS":[2020,2021,2022]}}
print(midiccionario.keys()) # Muestra las claves dentro del diccionario 
print(midiccionario.values()) # Muestra los valores asignados a las claves
print(len(midiccionario)) # Muestra la longitud del diccionario

dict_keys([10, 'NOMBRE', 'EQUIPO', 'LOGROS'])
dict_values(['LEONARDO', 'LEONARDO', 'METALINK', {'AÑOS': [2020, 2021, 2022]}])
4

In [ ]:
# Condicionales y bucles, video 10
# instrucción if 

# Flujo de ejecución del programa, esto es igual a los diagramas de 
# flujo y demás 

# flujo del programa, orden en el cual se ejecutan las instrucciones 
# escritas dentro del código.

In [ ]:
def evaluacion(calificación):
    valor = "APROBADO"
    if calificación < 5:
        valor = "SUSPENDIDO"
    return valor                  # == igual que 
print(evaluacion(4))              # <= menor o igual que 
print(evaluacion(10))             # >= mayor o igual que 
                                  # != diferente que 
# if, si la condición es verdadera, se ejecuntan las instrucciones del bloque 
# si no, no sucede nada y se continuan con las instrucciones escritas después 
# del condicional

SUSPENDIDO
APROBADO

In [ ]:
# introducir valores al programa 
print("Programa de evaluación de notas de alumno")
calificacion_alumno = input(int) # Con está linea podemos agregar valores a evaluar desde el teclado 
def evaluacion(calificación):
    valor = "APROBADO"
    if calificación < 5:
        valor = "SUSPENDIDO"
    return valor                 
print(evaluacion(int(calificacion_alumno)))

Programa de evaluación de notas de alumno
<class 'int'>10
APROBADO

In [ ]:
# introducir valores al programa 
print("Programa de evaluación de notas de alumno")
calificacion_alumno = input(int) # Con está linea podemos agregar valores a evaluar desde el teclado 

def evaluacion(calificación):
    valor = "APROBADO"

    if calificación < 5:
        valor = "SUSPENDIDO"  # Una variable es accesible dentro de un ambito
    return valor                 

print(evaluacion(int(calificacion_alumno)))

Programa de evaluación de notas de alumno
<class 'int'>10
APROBADO

In [ ]:
# Condicionales II, video 11 
print("Verificación de edad del usuario")
edad_usuario = int(input("Introduce tu edad, por favor"))
if edad_usuario < 18: 
    print("No puedes pasar") # El programa no funciona correctamente
print("Puedes pasar") # aún
# son necesarios 2 condicionales para el correcto funcionamiento

Verificación de edad del usuario
Introduce tu edad, por favor29
Puedes pasar

In [ ]:
print("Verificación de edad del usuario")
edad_usuario = int(input("Introduce tu edad, por favor: "))
if edad_usuario < 18: 
    print("No puedes pasar") # El programa no funciona correctamente
else:
    print("Puedes pasar") 
# Sin if, no hay else

Verificación de edad del usuario
Introduce tu edad, por favor: 67
Puedes pasar

In [ ]:
print("Verificación de edad del usuario")

edad_usuario = int(input("Introduce tu edad, por favor: "))
if edad_usuario < 18: 
    print("No puedes pasar") # El programa no funciona correctamente
elif edad_usuario > 110:  # Con este condicional es posible 
    print("Edad incorrecta") # considerar if y elif en todo el 
else:   # flujo del programa 
    print("Puedes pasar")

Verificación de edad del usuario
Introduce tu edad, por favor: 55
Puedes pasar

In [1]:
#  El programa ya funciona como debería funcionar 
print("Verificación acceso")
nota_alumno = int(input("Introduce tu nota, por favor: "))
if nota_alumno < 5:
    print("insuficiente")
elif nota_alumno < 6:
    print("Suficiente")
elif nota_alumno < 7:
    print("Bien")
elif nota_alumno < 9:
    print("Notable")
else: 
    print("Sobresaliente")

Verificación acceso
Introduce tu nota, por favor: 10
Sobresaliente

In [5]:
# Python 12 / 79 1: 06 de la tarde 
# Condicionales 3 parte III, concatenacion de sentencias condicionales

edad = 50 
if 0 < edad < 110: # Aquí se puede escribir varias veces el operador de 
    print("Edad correcta") # comparación    
else:   # Este es una concatenación sencilla
    print("Edad incorrecta")

Edad correcta

In [9]:
# Evaluar el salario de una serie de personas 

salario_presidente = int(input("Ingrese el salario del Presidente: "))
print(f"Salario del Presidente: {salario_presidente}") # De esta manera 
# agrupamos el valor que ingresamos desde el teclado o, el usuario, 
# y según parece existe una forma alterna

Ingrese el salario del Presidente: 1000000000
Salario Presidente: 1000000000

In [8]:
# Forma mostrada en el video
salario_presidente = int(input("Ingrese el salario del Presidente: "))
print("Salario del Presidente: " + str(salario_presidente)) # De esta manera )
# agrupamos el valor que ingresamos desde el teclado o, el usuario, 
# y según parece existe una forma alterna

Ingrese el salario del Presidente: 1000000
Salario Presidente: 1000000

In [10]:
# Evaluar el salario de una serie de personas 
# Forma mostrada en el video
salario_presidente = int(input("Ingrese el salario del Presidente: "))
print("Salario del Presidente: " + str(salario_presidente)) 
salario_director = int(input("Ingrese el salario del Director: "))
print("Salario del Director: " + str(salario_director)) 
salario_jefe_area = int(input("Ingrese el salario del Jefe de Área: "))
print("Salario del Jefe de Área: " + str(salario_jefe_area))  
salario_administrativo = int(input("Ingrese el salario del Administrativo: "))
print("Salario del Administrativo: " + str(salario_administrativo))

if salario_administrativo < salario_jefe_area < salario_director < salario_presidente:
    print("Todo bien, tenga un buen día")
else: 
    print("Algo está mal, nomms >:V  ")
# De momento el programa no está del todo completo
# Dado que conforme se ejecuta el código, se evaluan pares de parejas
# para determinar los siguientes valores a evaluar, pero si por ejemplo 
# el salario del director es mayor que el salario del presidente
# significa que algo ira mal, pero se ignoraran los siguientes pares 
# de salarios a evaluar, incluyendo la evaluacion jefe area - director 
# esto implicaria que si existiera mas de una persona ganango más que el 
# jefe, el programa no prodría detectarlo.

Ingrese el salario del Presidente: 1000000000
Salario del Presidente: 1000000000
Ingrese el salario del Director: 56888
Salario del Director: 56888
Ingrese el salario del Jefe de Área: 122
Salario del Jefe de Área: 122
Ingrese el salario del Administrativo: 10
Salario del Administrativo: 10
Todo bien, tenga un buen día

In [ ]:
# Python 13, condicionales IV, parte 4

In [ ]:
a = float(input("Ingrese el valor 'a' del intervalo: "))
b = float(input("Ingrese el valor 'b' del intervalo: "))
for i in range(3): # Se establece una condición: para i, en el rango de valor 5, que será el número de iteraciones del programa 
    cn = (a+b) / 2  # Sumar el valor de 1 a la variable a, en cada iteración
    print(f"{cn}")
    for i in range(3): # Se establece una condición: para i, en el rango de valor 5, que será el número de iteraciones del programa 
        cn = (a+b) / 2  # Sumar el valor de 1 a la variable a, en cada iteración
        print(f"{cn}")
    
# print(f"El valor C(n) para la siguiente iteración es:{cn}")

Ingrese el valor 'a' del intervalo: 1
Ingrese el valor 'b' del intervalo: 2
1.5
1.5
1.5
1.5
1.5
1.5
1.5
1.5
1.5
1.5
1.5
1.5

In [ ]:
# Aquí construi la función de la tarea 1 y la evalue con c1 = 1.5, f(Cn) = 4.5938, que concuerda con los valores obtenidos 
a = 1.5*1.5*1.5*1.5*1.5 - 2*1.5
print(f" {a}")

 4.59375

In [ ]:
import math 
print(math.pow(2,3)) # Esto significa, 2 elevado a la potencia 3, osease 2 al cubo igual a 8

In [ ]:
# Aquí he resuelto el problema para 
import math 
a = math.pow(1.5,5) - 2 * (1.5)
print(f" {a}")

 4.59375

In [ ]:
# Interfaz actualizada de estructura de datos
from tkinter import * 
import tkinter as tk   
import datetime 
from datetime import date 
import time 

class Ventana():        
    def __init__(self):    
            # Ventana principal 
            self.ventana = tk.Tk()
            self.ventana.iconbitmap("../pythonprog/graphics/mad.ico") 
            self.ventana.geometry("750x150") 
            self.ventana.resizable(1200,1200)
            self.ventana.title("LA CALCULADORA DEL DIABLO") 
            self.ventana.config(background = "darkred")    
            self.ventana.config(bd = 10)   
            self.ventana.config(relief = "groove")  
            self.ventana.config(cursor = "hand2")   
        
            # Reloj dígital
            self.etiquetahms = tk.Label(text = "", font = ("Arial", 32), fg = "darkred", bg = "white", pady = 10, padx = 10)
            self.etiquetahms.config(bd = 10)   
            self.etiquetahms.config(relief = "groove")   
            self.etiquetahms.place(x = 0, y = 0)   
            self.actualizacion()     

            # Calendario dígital
            self.week_day_label = tk.Label(text="ñau", font=("Arial",32), fg = 'darkred', bg = 'white', pady = 10, padx = 10)
            self.week_day_label.config(bd= 10)
            self.week_day_label.config(relief = "groove")
            self.week_day_label.place(x = 1090, y = 0)
            self.actualizar_fecha()

            # Encabezado " ESTRUCTURA DE DATOS "
            miFrame = Frame()  
            miFrame.pack(side = "top") 
            miFrame.config(background = "midnightblue" ) 
            miFrame.config(width = "750", height = "150") 
            Label(miFrame, text = "Estructura de Datos", fg = "midnightblue", font = ("Arial", 30)).place(x = 190, y = 40)
            miFrame.config(bd = 10)  
            miFrame.config(relief = "groove") 
            miFrame.config(cursor = "pirate") 
            
            # Nueva ventana, Ventana1 
            def openNewWindow():
                # Definición de la Venatana1, similar a la ventana principal
                newWindow = Tk()
                newWindow.iconbitmap("../pythonprog/graphics/mad.ico") 
                newWindow.resizable(1200,1200)
                newWindow.title("MENÚ DE LA CALCULADORA DEL DIABLO")
                newWindow.config(background = "darkred")
                newWindow.config(bd = 10)
                newWindow.config(relief = "groove")
                
                # Define el menú de operaciones en la Ventana1 
                # ¿ Cuantas operaciones debe resolver el programa, por semestre, por equipo, ?
                barraMenu = Menu(newWindow)
                mnuArchivo = Menu(barraMenu)
                mnuArchivo.add_command(label = "Tarea 1: Transformación de 2 matrices triangulares inferiores A y B, en un arreglo rectangular AxB")
                mnuArchivo.add_command(label = "Tarea 2: Programa que ordena datos por el método de la burbuja")
                mnuArchivo.add_command(label = "Tarea 3: Programa que agrega y elimina datos en una pila, en una cola, y en una cola de doble entrada")
                mnuArchivo.add_command(label = "Tarea 4: Ordenamiento de datos por el método de mínimos sucesivos")
                mnuArchivo.add_command(label = "Tarea 5: ")
                mnuArchivo.add_command(label = "Tarea 6: ")
                mnuArchivo.add_command(label = "Tarea 7:")
                mnuArchivo.add_command(label = "Tarea 8: ")
                mnuArchivo.add_command(label = "salir")           
                barraMenu.add_cascade(label = " LOS CALCULOS DEL DIABLO ", menu = mnuArchivo)
                newWindow.config(menu = barraMenu)

                # Reloj dígital, Ventana1 
                self.etiquetahms = tk.Label(newWindow, text = "", font = ("Arial", 32), fg = "darkred", bg = "white", pady = 10, padx = 10) 
                self.etiquetahms.config(bd = 10)   
                self.etiquetahms.config(relief = "groove")   
                self.etiquetahms.place(x = 0, y = 0)   
                self.actualizacion()  
                
                # Calendario dígital, Ventana1
                self.week_day_label = tk.Label(newWindow, text= "", font=("Arial",32), fg = 'darkred', bg = 'white', pady = 10, padx = 10) # Aquí según parece me faltaba agregar NewWindow, al principio del comando
                self.week_day_label.config(bd= 10)
                self.week_day_label.config(relief = "groove")
                self.week_day_label.place(x = 1090, y = 0)
                self.actualizar_fecha()

                # Encabezado de la Ventana1 
                miFrame = Frame(newWindow) 
                miFrame.pack(side = "top") 
                miFrame.config(background = "midnightblue" ) 
                miFrame.config(width = "750", height = "150") 
                Label(miFrame, text = "Estructura de Datos", fg = "midnightblue", font = ("Arial", 30)).place(x = 190, y = 40)
                miFrame.config(bd = 10)  
                miFrame.config(relief = "groove") 
                miFrame.config(cursor = "pirate") 
                
                # Botones de la ventana 1 
                botonEnvio = Button(newWindow, text = "Volver a la ventana principal y cerrar esta ventana", command = newWindow.destroy) # Al agregar el comando " exit " en el botón " Cerrar ", fue posible finalizar el programa
                botonEnvio.config(cursor = "pirate")
                botonEnvio.place(x = 0, y = 640)

            # Botones de la ventana principal     
            botonEnvio = Button(self.ventana, text = " Menú ", command = openNewWindow)
            botonEnvio.pack()    
            botonEnvio = Button(self.ventana, text = "Tarea 1: Transformación de 2 matrices triangulares inferiores A y B, en un arreglo rectangular AxB") 
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Tarea 2: Programa que ordena datos por el método de la burbuja") 
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Tarea 3: Programa que agrega y elimina datos en una pila, en una cola, y en una cola de doble entrada") 
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Tarea 4: Ordenamiento de datos por el método de mínimos sucesivos") 
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Tarea 5: ") 
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Tarea 6: ") 
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Tarea 7: ") 
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Tarea 8: ") 
            botonEnvio.pack()    
            botonEnvio = Button(self.ventana, text = "Anuncios: Sobre las novedades de la informática") # Colocar anuncios sobre las novedades de las computadoras
            botonEnvio.pack()
            botonEnvio = Button(self.ventana, text = "Cerrar", command = exit) # Al agregar el comando " exit " en el botón " Cerrar ", fue posible finalizar el programa
            botonEnvio.config(cursor = "pirate")
            botonEnvio.place(x = 0, y = 660)
            self.ventana.mainloop() 
# Al escribir la línea 124 es posible visualizar la ventana principal e interactuar con ella, incluyendo la ventana1 
            
    # Actualización de la hora
    def actualizacion(self):       
        hora = time.strftime("%Hh:%Mm:%Ss")
        self.etiquetahms.config(text = hora)
        self.ventana.after(1000, self.actualizacion)

    # Actualiza la fecha del calendario dígital    
    def actualizar_fecha(self):
        datetime_object = datetime.datetime.now()
        today = date.today()
        d1 = today.strftime("%d/%m/%Y")
        self.week_day_label.configure(text=d1)
        
# Mantiene la ventana principal en un loop infinito
if __name__ == "__main__":
    main = Ventana()

# Como hacer que el reloj de la ventana 1 continué funcionando después