<a href="https://colab.research.google.com/github/leonardolunamoreno/Computadoras-y-programaci-n2021-grupo-1157/blob/main/Tarea_6_Ejercicios_del_cap%C3%ADtulo2_Leonardo_Luna_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejemplo 2.1
CAL = float(input("Introduzca la calificación del alumno: "))
if CAL > 8: 
    print("Aprobado")

Introduzca la calificación del alumno: 9
Aprobado

In [ ]:
#Ejemplo 2.2 
SUE = float(input("Ingrese el sueldo del trabajador:$"))
AUM = SUE*0.15
NSUE = SUE + AUM
if SUE < 1000:
    print(f"El nuevo sueldo del trabajador es ${NSUE}")
else: 
    print(f"{SUE}")

print("-----------------")
#Solucion alterna 1
SUE = float(input("Ingrese el sueldo del trabajador:$"))
NSUE = SUE*1.15
if SUE < 1000:
    print(f"El nuevo sueldo del trabajador es ${NSUE}")
else: 
    print(f"{SUE}")

print("-----------------")
#Solucion alterna 2
SUE = float(input("Ingrese el sueldo del trabajador:$"))
if SUE < 1000:
    NSUE = SUE*1.15     
    print(f"El nuevo sueldo del trabajador es ${NSUE}")
else: 
    print(f"{SUE}")

Ingrese el sueldo del trabajador:$454
El nuevo sueldo del trabajador es $522.1
-----------------
Ingrese el sueldo del trabajador:$454
El nuevo sueldo del trabajador es $522.0999999999999
-----------------
Ingrese el sueldo del trabajador:$454
El nuevo sueldo del trabajador es $522.0999999999999

In [ ]:
#Ejemplo 2.3 
CAL = float(input("Ingrese la calificación: "))
if CAL >= 8:
    print("Aprobado")
else:
    print("Reprobado")

Ingrese la calificación: 10
Aprobado

In [ ]:
#Ejemplo 2.4
SUE = float(input("Ingrese el sueldo del trabajador:$"))
if SUE < 1000:
    NSUE = SUE*1.15
    print(f"${NSUE}")
else:
    NSUE = SUE*1.12
    print(f"${NSUE}")

Ingrese el sueldo del trabajador:$1789
$2003.6800000000003

In [ ]:
#Ejemplo 2.5
Valor1 = int(input("Ingresa un valor:"))
Valor2 = int(input("Ingresa un valor:"))
Valor3 = int(input("Ingresa un valor:"))
ValorN = int(input("Ingresa un valor:"))
if Valor1:
    a = operacion1 
    print({a})
elif Valor2:
    b = operacion2 
    print({b})
elif Valor3:
    c = operacion3 
    print({c})
elif ValorN:
    n = operacion4 
    print({n})

In [ ]:
#Ejemplo 2.6 
valor = int(input("Ingrese un valor:"))
if valor ==1:
    print("Acción 1")
    print("Acción x")
elif valor ==2:
    print("Acción 1")
    print("Acción x")
elif valor == 3: 
    print("Acción 2")
    print("Acción x")
elif valor == 4:
    print("Acción 2")
    print("Acción x")
elif valor == 5:
    print("Acción 2")
    print("Acción x")
elif valor > 5:
    print("Acción 3")
    print("Acción x")

#Continua leyendo desde la página 76

Ingrese un valor:6
Acción 3
Acción x

In [27]:
#Ejemplo 2.7 
NUM = int(input("Ingrese un valor"))
V = int(input("Ingrese otro valor"))
if NUM == 1:
    VAL = 100 * V;
elif NUM ==2:
    VAL = 100**V;
elif NUM == 3: 
    VAL = 100/V;
elif NUM > 3:
    VAL = 0
print(f"{VAL}")

Ingrese un valor1
Ingrese otro valor4
400

In [22]:
#Ejemplo 2.8 
CATE = int(input("Ingrese la categoría del trabajador: "))
SUE = float(input("Ingrese el sueldo del trabajador:$ "))
if CATE ==1:
    NSUE = SUE *1.15;
elif CATE == 2:
    NSUE = SUE*1.10;
elif CATE == 3:
    NSUE = SUE*1.08;
elif CATE ==4:
    NSUE = SUE *1.07;
print(f"Categoría: {CATE}, sueldo: ${NSUE}")

Ingrese la categoría del trabajador: 3
Ingrese el sueldo del trabajador:$ 3800
Categoría: 3, sueldo: $4104.0

In [ ]:
#Ejemplo 2.9